<!-- 模态框（Modal） -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" 
       aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
       <div class="modal-dialog modal-lg">
          <div class="modal-content">
             <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" 
                   aria-hidden="true"><span class="fui-cross"></span>
                </button>
                <h6 class="modal-title" id="myModalLabel">
                   &nbsp;
                </h6>
             </div>
            <div class="modal-body">
              <div id="picture-modal" class="media">
                 <a class="pull-left" href="#">
                    <img class="media-object" src="" 
                    alt="媒体对象" height="360" width="640">
                 </a>
                 <div class="media-body">
                    <h4 class="media-heading">媒体标题</h4>
                    <span class="media-content">
                    这是一些示例文本。这是一些示例文本。 
                    </span>
                 </div>
              </div>
            </div>
             <div class="modal-footer"><!--在这里添加按钮等--></div>
          </div><!-- /.modal-content -->
       </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->