<extend name="Base/common" />

<block name="style">
  <link href="__CSS__/page/user-style.css" rel="stylesheet">
</block>

<block name="header">
</block>

<block name="container">
   <!--横快一 Stater-->
    <div class="row white-background">
      <div class="col-md-12">
        <div class="media">
           <a class="pull-left" href="#">
              <img class="media-object avatar" src="/wwwroot/Public/Test/images/page/public/avatar.png" alt="头像" >
           </a>
           <div class="media-body teacher-type">
                <h4>王老师</h4>
                <div id="teacherTitle">
                  <b style="font-size:20px;color: #34495e;">任课老师</b>
                </div>
                
                <div class="about">
                  <b>作为优秀老师，把最新鲜的资讯与大家分享是我的职责</b>
                </div>
                <div class="links"></div>
           </div>
        </div>
      </div>
    </div>
    <!--横快一 End-->

    <!--模块二 Stater-->
    <div class="row white-background">
      <div class="col-md-12">
        <ul id="myTab" class="nav nav-tabs">
           <li class="active"><a href="#home" data-toggle="tab">个人状态</a></li>
           <!--
           <li><a href="#reset-password" data-toggle="tab">修改密码</a></li>
           -->
        </ul>
        <div id="myTabContent" class="tab-content">
          <div class="tab-pane fade in active" id="home">
            <div class="row">
              <div class="col-md-5 text-end"><b>用户名 :</b></div>
              <div class="col-md-7 control-text">cheng1483 </div>  
            </div>
            
            <div class="row">
              <div class="col-md-5 text-end"><b>用户邮箱 :</b></div>
              <div class="col-md-7 control-text">cheng1483@163.com </div>  
            </div>

            <div class="row">
              <div class="col-md-5 text-end"><b>最后登录时间 :</b></div>
              <div class="col-md-7 control-text">2014-05-06</div>  
            </div>

            <div class="row">
              <div class="col-md-5 text-end"><b>最后登录ip :</b></div>
              <div class="col-md-7 control-text">2014-05-06</div>  
            </div>      
           </div>
           <div class="tab-pane fade" id="reset-password">
              
           </div>
        </div>
      </div>
    </div>
    <!--模块二 End-->
</block>

<block name="side"> </block>
<block name="script">
	<script type="text/javascript">
    	
	</script>
</block>
