.avatar {
-webkit-border-radius: 50%;
-moz-border-radius: 50%;
border-radius: 50%;
width: 160px !important;
height: 160px !important;
}

.userpage-header .row {
padding-top: 25px;
padding-bottom: 25px;
}

.userpage-header h4 small { font-size: 16px; color: #096;}
.teacher-type  h4 { color: #2C3E50;}
.teacher-type ,.about { color: #999999; padding-left:20px; }
.white-background{ background-color: #FFFFFF; padding: 20px 15px; margin: 20px 0px 10px ;}